@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	color: #50504F;
	background: url('image/bg/wrap_bg.png');
}
#wrap {
	width: 960px;
	margin: auto;
}

/*----------------ヘッダー--------------*/

div#head {
	height: 209px;
	background: url('image/bg/header_bg.png') repeat-x;

}

#header_wrap {
	background: url('image/bg/header_bg_2.png') ;
	position:fixed;
	top: 0px;
	left: 50%;
	margin-left: -475px;
	z-index:999;
}
#header {
	width: 960px;
	margin: 0px auto;
	overflow: hidden;
}
#header h1 {
	margin: 15px 0px 0px 10px;
	float: left;
}
#header ul {
	float: right;
	margin: 70px 0px 0px 0px;
	list-style: none;
}
#header li{
	margin: 0px 15px;
	float: left;
}
#header dl {
	width: 170px;
	height: 26px;
	float: right;
	clear: right;
	margin-top: 15px;
}
#header dt {
	float: left;
	margin-right: 10px;
}

.hd_txt {
	font-size: 0.8em;
	font-family: Impact,Charcoal;
}
/*--------------グローバルナビ--------------*/
#g_navi {
	overflow: hidden;
	width: 950px;
	margin: 0px auto;
}
#g_navi ul {
	list-style: none;
}
#g_navi li {
	float: left;
}
/*--------------共通--------------*/
#company,#rent,#topics,#contact {
/*	margin-top:70px;  */
	margin-left:60px;
	padding-top: 250px;
}
/*--------------会社概要--------------*/

div#company{
	color: #50504f;
	
}
div#company dl{
	color: 50504f;
	font-size: 0.9em;
	width: 700px;
	margin: 0px auto;
	padding: 30px 100px;
	margin-top:40px;
	line-height: 2em;
	border: 1px solid #DCDCDC;
	background: #fff;
}
#company dt {
	text-align: center;
	width: 150px;
	float: left;
	clear: both;
	border-right: 1px inset #ddd;
	border-bottom: 2px inset #aaa;
	background: #fff;

}

#company dd {
	text-align: left;
	padding-left: 30px;
	margin: 0px 0px 10px 180px;
	border-right: 1px inset #ddd;
	border-bottom: 2px inset #aaa;
	background: #fff;
}

div#company p {
	line-height: 200%;
}

/*--------------物件情報--------------*/
#rent {
	clear: both;
/*	padding-top: 40px;  */
}
#rent h2 {
	padding:7px 0px 5px 40px;
/*	margin-top: 40px; */
	background: url('image/icon/icon2.png') no-repeat left
}
div#rent h3 {
	padding-left: 10px;
	margin-top: 40px;
	background: url('image/icon/bukken_mark.png') no-repeat left
}

.bigphoto {
	margin: 0px 19px 19px 0px;
}

.smallphoto {
	margin: 0px 19px 0px 0px;
}

.button{
	margin:20px 0px 0px 60px;
	clear:both;
}
div.rent_img{
	margin-top:5px;
	float:left;
}
div.rent_shousai{
	margin-top:5px;
	float:right;
	width:320px;
	font-size:17px;
}

div.rent_shousai p:first-child {
	font-size: 0.9em;
	line-height: 1.5em;
	margin-bottom:20px;
}

.bukken{
	width:825px;
}
/*--------------画像をULで--------------*/

div.bukken li{
	list-style:none;
	float:left;
}


/*--------------お役立ち情報--------------*/

/*--------------お問い合わせ--------------*/

/*--------------フッター--------------*/
#footer_wrap {
	margin-top: 100px;
	background: url('image/bg/footer_bg.png') repeat-x;
}
#footer {
	width: 960px;
	margin: 0px auto;
	overflow: hidden;
}

#footer ol {
	width: 150px;
	font-size: 0.8em;
	float: left;
	margin-top: 15px;
}
#footer ol:first-child {
	margin-left: 60px;
}
#footer ol li:first-child {
	color: #4053D7;
	font-size: 1.1em;
	padding-left: 25px;
	margin-bottom: 5px;
	background: url('image/icon/list_img4.png') no-repeat left;
	list-style: none;
}
#footer ol li + li {
	list-style: url('image/icon/list_img3.png') inside;
	line-height: 1.5em;
	margin-left: 10px;
}

#footer ul {
	margin: 40px 0px 0px 30px;
	list-style: none;
}
#footer  ul li{
	margin-right:80px;
	float: left;
	vertical-align: top;
}
.contact {
	margin: 30px 65px 0px 0px;
	float: right;
}
.copyright {
	margin-top: 35px;
	margin-left: 60px;
	float: left;
}