@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #F1F9FF;
}
#wrap {
	width: 960px;
	margin: 0px auto;
}
#wrap {
	overflow: hidden;
}
#header {
	overflow: hidden;
}
/*----------------ヘッダー--------------*/
#header h1 {
	margin: 25px 0px 0px 40px;
	float: left;
}
#header ul {
	float: right;
	margin: 30px 70px 0px 0px;
	list-style: none;
}
#header li{
	padding-left: 10px;
	margin: 0px 15px;
	background: url('image/list_img.png') no-repeat left;
	float: left;
}
#header dl {
	width: 200px;
	height: 26px;
	float: right;
	clear: right;
	margin: 20px 35px 0px 0px;
}
#header dt {
	float: left;
	clear: both;
	margin-right: 15px;
}
.hd_txt {
	font-size: 0.7em;
	font-family: Impact,Charcoal;
	margin-top: 5px;
}
/*--------------グローバルナビ--------------*/
#g_navi {
	overflow: hidden;
}
#g_navi ul {
	margin-top: 40px;
	list-style: none;
}
#g_navi li {
	float: left;
}
/*--------------プライバシーポリシー--------------*/
#privacy_policy {
	margin-top:70px;
	margin-left:60px;
	width:820px;
	height:1550px;
}
#privacy_policy div{
	margin-top:40px;
	margin-left:40px;
	width:820px;
	height:1550px;
}
#privacy_policy p,h3{
	font-size:75%;
}
#privacy_policy h3{
	padding-top:25px;
}
#privacy_policy p {
	padding-top:10px;
}
#privacy_policy ul{
	margin-left:30px;
	font-size:75%;
}
#privacy_policy li{
	padding-top:10px;
}
div#shamei{
	margin-top:30px;
	margin-left:0px;
	font-weight:bold;
	font-size:110%;
}
/*--------------フッター--------------*/
#footer {
	height: 100px;
	background: url('image/footer_bg.png') repeat-x;}
