@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	color: #50504F;
	background: url('image/bg/wrap_bg.png');
}
#wrap {
	width: 960px;
	margin: 0px auto;
}

/*----------------ヘッダー--------------*/
#header_wrap {
	height: 150px;
	background: url('image/bg/header_bg.png') repeat-x;
}
#header {
	width: 960px;
	margin: 0px auto;
	overflow: hidden;
}
#header h1 {
	margin: 15px 0px 0px 10px;
	float: left;
}
#header ul {
	float: right;
	margin: 70px 0px 0px 0px;
	list-style: none;
}
#header li{
	margin: 0px 15px;
	float: left;
}
#header dl {
	width: 170px;
	height: 26px;
	float: right;
	clear: right;
	margin-top: 15px;
}
#header dt {
	float: left;
	margin-right: 10px;
}

.hd_txt {
	font-size: 0.8em;
	font-family: Impact,Charcoal;
}
/*--------------グローバルナビ--------------*/
#g_navi {
	overflow: hidden;
	width: 950px;
	margin: 0px auto;
}
#g_navi ul {
	list-style: none;
}
#g_navi li {
	float: left;
}
/*--------------物件写真、間取り図--------------*/
#rent {
	margin-top:70px;
	margin-left:60px;
	width:820px;
	height:1550px;
}

h2 {
	padding: 5px 0px 0px 40px;
	background: url('image/icon/icon2.png') no-repeat left;
}

.photos{
	width:600px;
	height:480px;
	float:left;
}

.bigphoto {
	margin: 20px 19px 20px 0px;
	float:right;
}

.madori{
	margin: 20px 0px 20px 0px;
	float:right;
}

.smallphoto {
	margin: 0px 20px 18px 0px;
}

div.small_photo1 {
	margin-top:20px;
	width:118px;
	height:360px;
	float:left;
}
div.small_photo1 li{
	list-style:none;
}

div.small_photo2 {
	height:120px;
	width:600px;
	margin: 0px 20px 0px 0px;
	clear:both;
}

div.small_photo2 li{
	list-style:none;
	float:left;
}


/*--------------詳細（大家さんコメント、設備）--------------*/
.shousai{
	clear:both;
	height:320px;
}
.comment{
	margin-top:20px;
	float:left;
}
.setsubi{
	margin-top:20px;
	float:right;
}

/*--------------google maps--------------*/
#map_container {
	margin-top:40px;
	width:820px;
	height:500px;

}
#access-bar{
	clear:both;
	float:left;
	width:220px;
	height:490px;
}
#mapul1{
	margin: 0;
	padding: 0;
	list-style-type:none;
	color:#FFFFFF;
}
#map1{
	margin-top:3px;
	border:10px;
	width:580px;
	height:490px;
	float:right;
}


#mapul1 a{
	color:#ffffff;
	width:220px;
	height:45px;
	display:block;
}
#mapul1+li{
	width:220px;
	height:90px;
}
.btn{
	min-width:220px;
	min-height:40px;
	margin:0px;
	padding:0px;
}
#mapbtn01{
	background: url("image/button/supermarket.png") no-repeat;
}
#mapbtn02{
	background: url("image/button/station.png") no-repeat;
}
#mapbtn03{
	background: url("image/button/library.png") no-repeat;
}
#mapbtn04{
	background: url("image/button/police.png") no-repeat;
}
#mapbtn05{
	background: url("image/button/clinic.png") no-repeat;
}
#mapbtn06{
	background: url("image/button/sports_center.png") no-repeat;
}
#mapbtn07{
	background: url("image/button/school.png") no-repeat;
}
#mapbtn08{
	background: url("image/button/restaurant.png") no-repeat;
}
#mapbtn09{
	background: url("image/button/sweets.png") no-repeat;
}
#mapbtn10{
	background: url("image/button/park.png") no-repeat;
}

/*--------------お問い合わせ--------------*/
/*--------------toTop--------------*/
#totop {
	width: 105px;
	margin:15px 108px 0px 0px;
	float: right;
}

/*--------------フッター--------------*/
#footer_wrap {
	height: 100px;
	margin-top: 100px;
	background: url('image/bg/footer_bg.png') repeat-x;
}
#footer {
	width: 960px;
	margin: 0px auto;
	overflow: hidden;
}

#footer ol {
	width: 150px;
	font-size: 0.8em;
	float: left;
	margin-top: 15px;
}
#footer ol:first-child {
	margin-left: 60px;
}
#footer ol li:first-child {
	color: #0000cc;
	font-size: 1.1em;
	padding-left: 25px;
	margin-bottom: 10px;
	background: url('image/icon/list_img4.png') no-repeat left;
	list-style: none;
}
#footer ol li + li {
	list-style: url('image/icon/list_img3.png') inside;
	line-height: 1.3em;
	margin-left: 5px;
}

#footer ul {
	margin: 40px 0px 0px 30px;
	list-style: none;
}
#footer  ul li{
	margin-right:80px;
	float: left;
	vertical-align: top;
}
.contact {
	margin-top: 40px;
	float: right;
}
.copyright {
	margin-top: 45px;
	margin-left: 60px;
	float: left;
}