@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #F1F9FF;
}
#wrap {
	width: 960px;
	margin: 0px auto;
}
#wrap {
	overflow: hidden;
}
#header {
	overflow: hidden;
}
/*----------------ヘッダー--------------*/
#header h1 {
	margin: 45px 0px 0px 40px;
	float: left;
}
#header ul {
	float: right;
	margin: 30px 70px 0px 0px;
	list-style: none;
}
#header li{
	padding-left: 10px;
	margin: 0px 15px;
	background: url('../image/list_img.png') no-repeat left;
	float: left;
}
#header dl {
	width: 200px;
	height: 26px;
	float: right;
	clear: right;
	margin: 20px 35px 0px 0px;
}
#header dt {
	float: left;
	clear: both;
	margin-right: 15px;
}
.hd_txt {
	font-size: 0.7em;
	font-family: Impact,Charcoal;
	margin-top: 5px;
}
/*--------------グローバルナビ--------------*/
#g_navi {
	overflow: hidden;
}
#g_navi ul {
	margin-top: 40px;
	list-style: none;
}
#g_navi li {
	float: left;
}
/*--------------物件写真、間取り図--------------*/
#rent {
	margin-top:70px;
	margin-left:60px;
	width:820px;
	height:1550px;
}
.photos{
	width:600px;
	height:480px;
	float:left;
}

.bigphoto {
	margin: 20px 19px 20px 0px;
	float:right;
}

.madori{
	margin: 20px 0px 20px 0px;
	float:right;
}

.smallphoto {
	margin: 0px 20px 18px 0px;
}

div.small_photo1 {
	margin-top:20px;
	width:118px;
	height:360px;
	float:left;
}
div.small_photo1 li{
	list-style:none;
}

div.small_photo2 {
	height:120px;
	width:600px;
	margin: 0px 20px 0px 0px;
	clear:both;
}

div.small_photo2 li{
	list-style:none;
	float:left;
}


/*--------------詳細（大家さんコメント、設備）--------------*/
.shousai{
	clear:both;
	height:320px;
}
.comment{
	margin-top:20px;
	float:left;
}
.setsubi{
	margin-top:20px;
	float:right;
}

/*--------------google maps--------------*/
#map_container {
	margin-top:40px;
	width:820px;
	height:500px;

}
#access-bar{
	clear:both;
	float:left;
	width:220px;
	height:490px;
}
#mapul1{
	margin: 0;
	padding: 0;
	list-style-type:none;
	color:#FFFFFF;
}
#map_canvas{
	margin:3px 0px 10px 20px;
	width:580px;
	height:490px;
	float:right;
}


#mapul1 a{
	color:#ffffff;
	width:220px;
	height:45px;
	display:block;
}
#mapul1+li{
	width:220px;
	height:90px;
}
.btn{
	min-width:220px;
	min-height:40px;
	margin:0px;
	padding:0px;
}
#mapbtn01{
	background: url("../image/button/supermarket.png") no-repeat;
}
#mapbtn02{
	background: url("../image/button/station.png") no-repeat;
}
#mapbtn03{
	background: url("../image/button/library.png") no-repeat;
}
#mapbtn04{
	background: url("../image/button/police.png") no-repeat;
}
#mapbtn05{
	background: url("../image/button/clinic.png") no-repeat;
}
#mapbtn06{
	background: url("../image/button/sports_center.png") no-repeat;
}
#mapbtn07{
	background: url("../image/button/school.png") no-repeat;
}
#mapbtn08{
	background: url("../image/button/restaurant.png") no-repeat;
}
#mapbtn09{
	background: url("../image/button/sweets.png") no-repeat;
}
#mapbtn10{
	background: url("../image/button/park.png") no-repeat;
}

/*--------------お問い合わせ--------------*/

/*--------------フッター--------------*/
#footer {
	height: 100px;
	background: url('../image/footer_bg.png') repeat-x;}
